<div class="row">
    <div class="col-md-4 offset-md-2">
        <h5>TIPOS DE DOCUMENTO:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center;">Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                {% for documento in documento %}
                <tr>
                    <td style="text-align: center;">{{ documento.nombre }}</td>
                    <td>{{ documento.descripcion }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-4">
        <h5>CIUDADES: </h5>
        <hr>
        <div class="card card-body">
            <div class="scrollable">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for residencia in residencia %}
                        <tr>
                            <td>{{ residencia.nombre }}</td>
                            <td>{{ residencia.descripcion }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>