{% extends 'main.html' %}

{% load static %}

{% block content %}

<br><br><br>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card card-body">
        <div class="jumbotron">
            <h1 class="display-3">Taller 8</h1>
            <p class="lead">Integrantes: <br> Sebastian Contreras Ceballos <br>Camilo Ernesto Serrano lozada</p>
            <hr class="my-4">
            <p>A continuacion presentamos el CRUD de la pagina Web</p>
            <p class="lead">
            <div class="row justify-content-center">
            </div>
            </p>
        </div>
        </div>
    </div>
</div>


{% endblock %}